
@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');

/********Première page - index.html*/
*{
  box-sizing: border-box; 
  padding: 0px;
  margin: 0px;
}

/*couleur du body*/
body{
    background-image: linear-gradient(#FFF , #a0c3e5);
}

/*header*/
header{
    border-bottom: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
}

/*text décoration : none pour retiré l'underline*/
header a {
    color: black;
    text-decoration: none;
}

header img{
    width: 150px;
}

header .box{
    display: flex;
    align-items: center;
}
header .box i{
    margin-right: 15px;
    font-size: 50px;
}
.bleu{
    color: blue;
}


/*main*/
main{
    width: 70%;
    margin: 35px auto;
    border: solid 2px red;
    border-radius: 10px;
    padding: 35px 15px;
    background: white;
}
#img-formation-main{
    height: 110px;
    display: block;
    margin: 0px auto 25px;
}

main h1{
    text-decoration: underline red;
}
main p{
    margin: 15px 0px;
}

main ul{
    margin-left: 55px;
}
.to-flex-row{
    display: flex;
    padding-left: 45px;
}
.pouce-main{
    margin-right: 25px;
}
.pouce-main img{
    height: 65px;
}

/*section*/

section{
    width: 70%;
    padding: 35px;
    margin: 15px auto;
}
.legen-first-section{
    padding: 30px 10px;
    background: white;
    border-radius: 20px;
    margin-bottom: 50px;
}

section .box-parent-comment{
    padding: 15px 0px;
}
section div h2{
    text-decoration: underline red;
    margin-bottom: 20px;
}

.box-comment{
    background: white;
    padding: 15px;
    border-radius: 20px;
}

.to-comment{
    display: flex;
    align-items: center;
}
.to-comment span{
    color: #a3a3a4;
}
.to-comment img{
    height: 35px;
    margin-left: 15px;
}
.box-comment p{
    margin-top: 25px;
    border: solid 1px black;
    padding: 10px 5px;
    border-radius: 5px;
}

.box-comment input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
}

/*footer*/
footer{
    background: black;
    height: 190px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span {
    display: block;
    text-align: center;
}


/********deuxieme page - compte.html*/

/*Juliedurand*/
.page-2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin-bottom: 70px;
    text-decoration: underline red;
}
.box-compte{
    width: 80%;
    margin: 35px auto;
    background: white;
    padding: 20px 10px;
    border-radius: 10px;
}

/* les h2*/
.box-compte h2{
    font-size: 25px;
    text-decoration: underline red;
    margin-bottom: 25px;
}

.box-compte div{
    display: flex;
    width: 100%;
    /* background: red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-compte div span{
    color: #21cc21;
    margin-bottom: 15px;
}
.name-us{
    display: block;
    width: 90%;
    margin: 15px 0px;
    padding: 5px;
    text-align: center;
}
.btn-form{
    background: #a0c3e5;
    padding: 5px;
    border-radius: 10px;
    border: none;
}